#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.center {
  margin: auto;
  width: 30%;
  padding: 10px;
  background: azure;
}
.ant-layout-header {
  background: cornflowerblue;
}
.ant-layout-footer {
  background: cornflowerblue;
}
.content {
  overflow-y: scroll;
  height: 800px;
  background: white;
}
.layout{
  height: 100vh;
}
.main{
  display: flex;
  flex-wrap: wrap;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  position: fixed;
  top: 40%;
  left: 45%;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}